:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

body {
  background: #fff;
  height: 100vh;
  padding: 1rem;

}

.wrapper {}

#list {
  padding: 0;
  list-style: none;
}

.list-item {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
  justify-content: space-between;
}

.list-item:has(input:checked) .label-text {
  text-decoration: line-through;
}

.label-input {
  transform: scale(1.6);
  margin: 0 8px 0 0;
}

.label-text {
  color: #242424;
  font-size: 1.6rem;
}

button {
  font-size: 1.2rem;
  padding: 8px 12px;
}

#todo-input {
  font-size: 1.2rem;
}

#new-todo-form {
  width: 100%;
  display: block;
}

#new-todo-form .label-text {
  display: block;
}

#new-todo-form input {
  display: block;
  width: calc(100% - 20px);
  margin: 8px 0;
  font-size: 1.2rem;
  padding: 8px;
  display: block;
}

#new-todo-form button {
  width: 100%;
}